RickyMortySLN/.vs/
RickyMortySLN/RickyMorty/RickyMorty.Android/obj/
RickyMortySLN/RickyMorty/RickyMorty/obj/
RickyMortySLN/RickyMorty/RickyMorty.iOS/obj/
RickyMortySLN/RickyMorty/RickyMorty.UWP/bin/
RickyMortySLN/RickyMorty/RickyMorty.UWP/obj/
RickyMortySLN/RickyMorty/RickyMorty/bin/
RickyMortySLN/RickyMorty/RickyMorty.iOS/bin/
RickyMortySLN/RickyMorty/RickyMorty.Android/bin/
